/* font-family: 'Quicksand', sans-serif;
font-family: 'Dosis', sans-serif;
*/

:root {
  --branding-color: #bb93d2;
  --secondary-color: #ffe8ff;
  --heading-font-family: 'Quicksand', sans-serif;
  --default-font-family: 'Dosis', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 100px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 0;
}

.hero p {
  font-size:48px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 28px;
  line-height: 2;
  color: #4e1384;
}

.content-container {
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 28px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 16px;
}

.content {
  margin: 30px;
}

.btn-branding {
  border-radius: 4px;
  color: white;
  background: var(--branding-color);
  font-size: 18px;
  line-height: 28px;
}

.btn-branding-outline {
  font-size: 18px;
  line-height: 28px;
  border-radius: 4px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.project-description {
  padding: 120px 60px;
}

.logo {
  max-height: 40px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 38px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #212529;
  transition: all 100ms ease-in-out;
  font-size: 17px;
}

nav a:hover, 
nav li.active a {
  color:var(--branding-color);
}

@media (max-width: 900px) {
  .col-6 {
    width: 100%;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 42px;
  }

  .hero {
    padding: 80px 20px;
    width: 100%;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .content-container {
    text-align: center;
  }
}