/* font-family: 'Quicksand', sans-serif;
font-family: 'Dosis', sans-serif;
*/

:root {
  --branding-color: #bb93d2;
  --secondary-color: #ffe8ff;
  --heading-font-family: 'Quicksand', sans-serif;
  --default-font-family: 'Dosis', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 100px;
}

p {
  font-family: var(--default-font-family);
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 0;
}

.hero p {
  font-size:48px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 28px;
  line-height: 2;
  color: #4e1384;
}

.btn-branding {
  border-radius: 4px;
  color: white;
  background: var(--branding-color);
  font-size: 18px;
  line-height: 28px;
}